body { 
	margin: 2em; 
	padding: 0px; 
	background: #f0f0f0;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;  
}

header {
	text-align: center;
	font-size: 300%;
	font-weight: bold;
	color: #000;
	text-shadow: 3px 2px 2px #c0c0c0;
	margin: 1em 1em 0em 2em; 
}

footer {
	text-align: center;
	margin-top: 10px;
}

h1 {
	margin: 1em; 	
}

img { 
	border: 0px solid white; 
}

a { 
	color: #44a; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

.notsoimportant a { 
	color: #99c; 
	text-decoration: none; 
}

.notsoimportant  a:hover { 
	text-decoration: underline; 
}

#main { 
	text-align: justify;
	background: #fff;
	margin: -1.3em 2em 1em 2em; 
	padding: 4em 8em 2em 8em;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-bottom: 1px solid #e0e0e0;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');	
}

#main .notsoimportant {
	color: #c0c0c0;
}

#contribute { 
	border: 1px solid #c0c0c0;
	padding: 3px 5px 3px 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	cursor: pointer;
}

footer {
	margin: 2em 1em 0 1em;
	font-size: 70%;
	text-align: center;
}